$color1: #320E3B;
$color2: #7F96FF;

.load-container{
  width: 100%;
}

.load-spinner{
  width: 50px;
  height: 50px;
  margin: 5% auto;
  border-top-color: $color1;
  border-top-style: double;
  border-top-width: 10px;
  border-right-color: $color1;
  border-right-style: double;
  border-right-width: 10px;
   border-bottom-color: $color2;
  border-bottom-style: double;
  border-bottom-width: 10px;
  border-left-color: $color2;
  border-left-style: double;
  border-left-width: 10px;
  @include border-radius(50%);
  @include animation-name(spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}

@keyframes spin {
  0%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
